* {
  box-sizing: border-box;
  margin: 0;
}
#root {
  background-color: rgb(0, 0, 0);
}

label {
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name-filter {
  display: flex;
  align-items: center;
  margin: 10px 15px;
  justify-content: center;
}

.name-filter input {
  background-color: aliceblue;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin: 0 15px 5px 10px;
  width: 150px;
}

.main-filters input {
  background-color: aliceblue;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin: 0 15px 5px 10px;
  width: 50px;
}
.main-filters select {
  border: 1px solid rgb(37, 37, 37);
  border-radius: 5px;
  font-weight: 700;
  margin: 0 15px 5px 15px;
}

.sort-options select {
  border: 1px solid rgb(37, 37, 37);
  border-radius: 5px;
  font-weight: 700;
  margin: 0 15px 5px 15px;
}

.sort-options select:focus {
  outline: none;
  border: 2px solid #FD2155;
  border-radius: 5px;
  font-weight: 700;
  margin: 0 15px 5px 15px;
}

.name-filter input:focus {
  outline: none;
  border: 2px solid #FD2155;
  border-radius: 5px;
}

.main-filters {
  display: inline-block;
  margin: 20px 15px;
  width: 70vw;
}

.main-filters input:focus, .main-filters select:focus {
  outline: none;
  border: 2px solid #FD2155;
  border-radius: 5px;
}

.sort-options {
  display: inline-block;
  margin: 20px 15px;
  width: 70vw;
}

.sort-options label {
  margin: 0 15px 5px 0;
}

.sort-options input[type='radio']:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: aliceblue;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.sort-options input[type='radio']:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #FD2155;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.main-filters button, .sort-options button {
  background-color: #FD2155;
  color: aliceblue;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.main-filters button:hover, .sort-options button:hover {
  background-color: rgb(7, 7, 54);
  color: aliceblue;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.main-filters button:disabled, .sort-options button:disabled {
  background-color: rgb(138, 138, 139);
  color: aliceblue;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

h1 {
  color: aliceblue;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.filter-history {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 15px;
}

.filter-history li {
  color: aliceblue;
}

.filter-history button{
  background-color: red;
  border: none;
  border-radius: 3px;
  color: aliceblue;
  font-weight: 700;
  margin-left: 10px;
}

table {
  width: auto;
}

table thead th {
  border: 1px solid rgb(255, 255, 255);
  color: aliceblue;
  margin: 0;
}

table tbody td {
  border: 1px solid rgb(255, 255, 255);
  color: aliceblue;  margin: 0;
  text-align: center;
}